<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:default-servlet-handler/>

    <!-- 扫描带@Controller的类 -->
    <context:component-scan base-package="system.attendance.electronic.controller"/>

    <!-- 加载注解驱动，自动加载默认处理器映射器和处理器适配器 -->
    <mvc:annotation-driven/>

    <!-- 视图解析器 -->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        &lt;!&ndash; 可以不配置，默认使用jstl视图 &ndash;&gt;
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        &lt;!&ndash; jsp前缀 &ndash;&gt;
        <property name="prefix" value="/WEB-INF/page/"/>
        &lt;!&ndash; jsp后缀 &ndash;&gt;
        <property name="suffix" value=".jsp"/>
    </bean>-->

    <!--图片的上传-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传文件大小上限，单位为字节（10MB） -->
        <property name="maxUploadSize" value="10485760"/>
        <!-- 请求的编码格式，必须和jSP的pageEncoding属性一致，以便正确读取表单的内容，默认为ISO-8859-1 -->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--配置json转换-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
            <bean id="fastJsonHttpMessageConverter"
                  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 认证拦截 -->
    <mvc:interceptors>
        <bean class="system.attendance.electronic.handle.AuthorizedHandlerInterceptor"/>
    </mvc:interceptors>
</beans>